body {
	background: black;
}

/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	font-family: "Kalam", cursive;
	display: flex;
	height: 50px;
	width: 50px;
}
.postcard-header h1 {
	font-family: "Kalam", cursive;
	width: 321px;
	padding: 10px;
	margin: 0px;
}
.postcard-header img {
	margin-top: 7px;
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.no-margin {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	font-family: "Kalam", cursive;
	border: none;
	border-bottom: 1px gray solid;
}
.postcard-footer {
	text-align: center;
}
button {
	font-family: "Kalam", cursive;
	background-color: #a3e4d7;
	padding: 3px;
	border-radius: 3px;
	margin-top: -5px;
}
p {
	font-family: "Kalam", cursive;
}
